.weather{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  width: 100%;
  border: 10px solid #0077b5;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Century Gothic", sans-serif;
  &__city{
    position: relative;
    grid-column: 2 / 3;
    align-self: flex-end;
    justify-self: center;
    h1{
      font-size: 40px;
    }
    h2{
      text-align: center;
    }
    &__temperature{
    }
  }
  &__time{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-self: center;
    justify-self: center;
    position: relative;
    p{
      font-size: 30px;
      margin: 10px;
    }
    &__temperature{
      display: flex;
      position: absolute;
      top: 100%;
      p{
        margin: 8px;
        font-size: 15px;
        text-align: center;
      }
    }
  }
  &__search{
    margin: 5rem 2.5rem;
    display: none;
    &__input{
      height: 30px;
      border-color: darkslateblue;
      background-color: azure;
      position: relative;
    }
    &__submit{
      position: absolute;
      right: 11.8rem;
      border-color: darkslateblue;
      border-left: none;
      background-color: azure;
      height: 30px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 560px){
  .weather__search{
    margin: 5rem 2.5rem 5rem -5rem;
  }
}

@media screen and (max-width: 1160px){
  .weather__search__submit{
    right: 6rem;
  }
}

